.workspaceContainer {
  margin-top: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: left;
  column-gap: clamp(18px, 4vw, 54px);
  row-gap: 18px;
  padding: 20px 20px;

  background: rgba(255, 255, 255, 0.05); /* sehr transparent */
  border-radius: 20px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.emptyMessage {
  color: var(--text-muted);
  font-size: 1.2rem;
  text-align: left;
  padding: 20px 0;
  opacity: 0.9;
}