.toast {
  padding: 12px;
  width: fit-content;
  max-width: 80vw;
  height: fit-content;
  border-radius: 12px;
  color: var(--text);
  font-size: 16px;
  position: relative;
  opacity: 0;
  transform: translateX(-100%);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: toastAnimation 3s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

/* Farben für den Status */
.success {
  background: rgba(var(--success-rgb), 0.2);
}

.error {
  background: rgba(var(--danger-rgb), 0.2);
}

.warn {
  background: rgba(var(--warning-rgb), 0.2);
}

.info {
  background: rgba(var(--info-rgb), 0.2);
}

/* Animation für das Einblenden und Ausblenden */
@keyframes toastAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
