.workspaceNameInput,
.workspaceImageInput {
  font-family: 'Rubik', sans-serif;
  width: 93%;
  padding: 10px 14px;
  font-size: 1rem;
  border-radius: 12px;
  outline: none;
  transition: border 0.2s;
  color: var(--text);
}

.workspaceImageInput {
  flex-grow: 1;
}

/* Fokus-Stile */
.workspaceNameInput:focus {
  border-color: var(--border);
}

.workspaceImageInput:focus {
  border-color: var(--border);
}

/* 🧷 -bild-Input-Zeile */
.imageInputRow {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* 🔄 Reload--button */
.workspaceImageReload {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  border-radius: 12px;
  cursor: pointer;
  transition: border 0.2s, background-color 0.2s;
}

@media (hover: hover) {
  .workspaceImageReload:hover {
    color: var(--primary-light);
    border-color: var(--border);
  }
}

.workspaceImageReload:active {
  background-color: var(--bg-light);
}