/* Kachel-Grunddesign */
.card {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 4.2 / 3;
  display: flex;
  flex-direction: column;
  background: #ececec;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
}

/* Bildbereich */
.imgbox {
  flex: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}

.imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0.95;
  z-index: 0;
}

/* Textbereich (Overlay mit Blur) */
.info {
  padding: 6px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  overflow: hidden;
}

.info h2 {
  padding-right: 20px;
  font-size: 1.5rem;
  color: #343434;
  margin: 0;
  display: -webkit-box;
  display: box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (hover: hover) and (pointer: fine) {
  .imgbox:hover img {
    transform: scale(1.05);
    opacity: 1;
  }
}

.PreviewCard {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 4.2 / 3;
  display: flex;
  flex-direction: column;
  background: #ececec;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.PreviewCardInfo {
  padding: 9px 18px;
  position: absolute;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  overflow: hidden;
}

.PreviewCardInfo h2 {
  padding-right: 20px;
  font-size: 2.5rem;
  color: #343434;
  margin: 0;
  display: -webkit-box;
  display: box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}