.logoutBtn {
  font-family: 'Rubik', sans-serif;
  background: rgba(255, 255, 255, 0.07); /* Leichtes Glas */
  color: var(--primary);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 6px 14px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.5px;
  margin: 0;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);

  transition: background 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}

@media (hover: hover) {
  .logoutBtn:hover {
    background: rgba(255, 255, 255, 0.12); /* leicht heller */
    color: var(--primary-light);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
    border-color: rgba(255, 255, 255, 0.3);
  }
}

/* Popup */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup {
  background-color: var(--bg);
  padding: 24px;
  border-radius: 16px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popupContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.popupButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.popupButtons button {
  padding: 8px 16px;
  font-size: 0.95rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.popupButtons button:active {
  transform: scale(0.98);
}

.popupButtons .saveButton {
  font-family: 'Rubik', sans-serif;
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}

@media (hover: hover) {
  .popupButtons .saveButton:hover {
    background-color: var(--primary);
    border-color: transparent;
    color: var(--bg)
  }
}

.popupButtons .cancelButton {
  font-family: 'Rubik', sans-serif;
  background-color: transparent;
  border: 2px solid var(--danger);
  color: var(--danger);
}

@media (hover: hover) {
  .popupButtons .cancelButton:hover {
    background-color: var(--danger);
    border-color: transparent;
    color: var(--bg)
  }
}