.loginForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 35vw, 400px);
    height: fit-content;
    background: var(--bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    padding: 12px;
}

.description {
    font-size: 2rem;
    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--text);
}

.loginBtn {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 12px 8px;
    font-size: 1rem;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    border-radius: 20px;
    background: var(--primary);
    color: var(--text);
    outline: none;
    border: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

@media (hover: hover) {
    .loginBtn:hover {
        background: var(--primary-light);
        cursor: pointer;
    }
}

.switchModeText {
    margin-bottom: 4px;
    color: var(--text-muted);
    font-size: 1rem;
}

.switchLink {
    color: var(--primary);
    cursor: pointer;
}

@media (hover: hover) {
    .switchLink:hover {
        color: var(--primary-light);
    }
}

.forgotPassword {
    align-self: flex-start;
    font-size: 1rem;
    margin-left: 4px;
    color: var(--primary);
    cursor: pointer;
}

@media (hover: hover) {
    .forgotPassword:hover {
        color: var(--primary-light);
    }
}