.sectionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.leftGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  max-width: 100%;
  overflow-x: auto;
}

.sectionHeading {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--text);
  letter-spacing: 1px;
  margin: 0;
  white-space: nowrap;
}

.buttonBar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  justify-content: end;
}