.imageButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
}
.svgBtn {
    border: solid 1px var(--text-muted);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.imageButton img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.imageButton svg {
    height: 65%;
}